src/main/mule/test-respository.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c0263cc7-151a-4aec-9aa6-d86ed8ef1b0e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="test-respositoryFlow" doc:id="32011c5a-c829-43fa-a7c2-b685560403dd" >
		<http:listener doc:name="Listener" doc:id="a524f8cd-1692-41f3-bb41-71ab9c215ff3" config-ref="HTTP_Listener_config" path="/repo"/>
		<set-payload value="#['practicing repo']" doc:name="Set Payload" doc:id="913f5699-7df0-48fc-a821-0d944c403cd4" />
	</flow>
</mule>
